@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/lcd1dxy.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Muli', system-ui, sans-serif;
    font-weight: 300;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.script {
  font-family: 'Alex Brush', cursive !important;
}

.playfair {
  font-family: 'Playfair Display', serif !important;
}

.cormorant {
  font-family: 'Cormorant Garamond', serif !important;
}

.p-end {
  width: 30%;
}
